alias tmux='tmux new -As0'
alias ls='ls --color=auto --hyperlink=auto'
alias la="ls -AlhG"
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias v=nvim
alias gg=lazygit
alias gb='git branch | fzf | xargs git checkout'
